* {
  padding: 0;
  margin: 0;
}

.container {
  font-family: "Tillana", cursive;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  height: 100vh;
  color: #b666d2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./assets/background-services-image.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.nav-bar {
  height: 150px;
  margin: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul li {
  display: inline-block;
  list-style: none;
  margin: 20px;
  position: relative;
}

.nav-bar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b666d2;
  font-size: 30px;
}

.nav-bar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff0f5;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
}

.nav-bar ul li:hover::after {
  width: 100%;
}

.branding {
  font-family: "Orbitron", sans-serif;
  color: #b666d2;
  margin-right: 400px;
  font-size: 40px;
  word-spacing: 20px;
}

.main-services {
  position: absolute;
  margin-left: 900px;
  margin-top: 50px;
  width: 450px;
  transition: 0.5s ease;
}

.main-services:hover {
  width: 500px;
  transition: 0.5 ease;
}

.service-heading {
  color: #fff0f5;
  font-size: 50px;
  margin-top: 80px;
  font-family: "Dancing Script", cursive;
  margin-left: 50px;
}

.about-services {
  font-size: 30px;
  margin-left: 50px;
  margin-right: 600px;
  margin-top: 40px;
  height: 50px;
  font-family: "Shantell Sans", cursive;
  color: #fbaed2;
}

.hashtag {
  color: #b666d2;
}

h3.service-heading::after {
  content: "";
  height: 3px;
  width: 0;
  background: #c9a0ff;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
  bottom: 400px;
  left: 50px;
  right: 1000px;
  border-radius: 10px;
}

h3.service-heading:hover::after {
  width: 24%;
}

.service-button {
  background: transparent;
  color: aliceblue;
  margin-top: 130px;
  margin-left: 50px;
  border-radius: 12px;
  width: 300px;
  height: 70px;
  border-color: #b666d2;
  font-family: "Caveat", cursive;
  font-size: 30px;
  transition: 0.5 ease;
}

.service-button {
  background: transparent;
  color: aliceblue;
  margin-top: 130px;
  margin-left: 50px;
  border-radius: 12px;
  width: 300px;
  height: 70px;
  border-color: #b666d2;
  font-family: "Caveat", cursive;
  font-size: 30px;
  transition: 0.5 ease;
}

.service-button:hover {
  background-color: #b666d2;
  transition: 0.5 ease;
}
